# Workflow excample on the Titanic Dataset

## Data Dict

**Variable**    Definition	Key  
**survival** 	Survival	0 = No, 1 = Yes  
**pclass** 	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd  
**sex** 	    Sex  
**Age** 	    Age in years  
**sibsp** 	    # of siblings / spouses aboard the Titanic  
**parch** 	    # of parents / children aboard the Titanic  
**ticket** 	Ticket number  
**fare**	    Passenger fare  
**cabin**	    Cabin number  
**embarked**	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

## 1.Data preprocessing

In order to use machine learning, data needs to be preprocessed.  
the first step is to get rid of useless columns   
and the transformation of some columns into usable dtypes

In [25]:
import pandas as pd
pd.set_option('mode.chained_assignment',None) # get rid of copy warn....
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import re


def cnum_to_ccat(cnum: str)-> str:
    x = re.search("[A-Za-z]",cnum)
    return cnum[x.start()]        
    
data = pd.read_csv("../ML_with_Python/data/titanic_train.csv")
x_data = data.dropna(axis = 0)
y_lable = x_data["Survived"]
x_data["Cabin_Categorie"] = x_data["Cabin"].apply(cnum_to_ccat)
x_data = x_data.drop(["Name","PassengerId","Ticket","Survived","Cabin"],axis=1)
x_data.reset_index(drop=True,inplace = True)


print(x_data)

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked Cabin_Categorie
0         1  female  38.0      1      0  71.2833        C               C
1         1  female  35.0      1      0  53.1000        S               C
2         1    male  54.0      0      0  51.8625        S               E
3         3  female   4.0      1      1  16.7000        S               G
4         1  female  58.0      0      0  26.5500        S               C
..      ...     ...   ...    ...    ...      ...      ...             ...
178       1  female  47.0      1      1  52.5542        S               D
179       1    male  33.0      0      0   5.0000        S               B
180       1  female  56.0      0      1  83.1583        C               C
181       1  female  19.0      0      0  30.0000        S               B
182       1    male  26.0      0      0  30.0000        C               C

[183 rows x 8 columns]

## 2.Encoding of categorial data

machine learning cant process categorial data in from of strings.    
its neccessary to encode strings.   
eg: "Sex" := {"female","male"} -> {0,1}

In [26]:
lbl_enc = LabelEncoder()

data_sex = x_data["Sex"]
data_sex = lbl_enc.fit_transform(data_sex)
x_data["Sex"] = data_sex

data_embarked = x_data["Embarked"]
data_embarked = lbl_enc.fit_transform(data_embarked)
x_data["Embarked"] = data_embarked

data_cc = x_data["Cabin_Categorie"]
data_cc = lbl_enc.fit_transform(data_cc)
x_data["Cabin_Categorie"] = data_cc

print(x_data)

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Cabin_Categorie
0         1    0  38.0      1      0  71.2833         0                2
1         1    0  35.0      1      0  53.1000         2                2
2         1    1  54.0      0      0  51.8625         2                4
3         3    0   4.0      1      1  16.7000         2                6
4         1    0  58.0      0      0  26.5500         2                2
..      ...  ...   ...    ...    ...      ...       ...              ...
178       1    0  47.0      1      1  52.5542         2                3
179       1    1  33.0      0      0   5.0000         2                1
180       1    0  56.0      0      1  83.1583         0                2
181       1    0  19.0      0      0  30.0000         2                1
182       1    1  26.0      0      0  30.0000         0                2

[183 rows x 8 columns]